body{
    background-color: black;
    color: aqua;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    padding: 20px 16px 20px 16px;
    position: fixed;
    top: ;
}
.topNavBar>nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar>nav>ul>li{
    float: left;

}
.topNavBar>nav>ul>li>a{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color:#c1c3c7;
    margin-left: 17px;
    margin-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
}
.topNavBar>nav>ul>li>a:hover{
    border-bottom:3px solid #E8676B;
}
.topNavBar .logo{
    font-family: "Arial Rounded MT Bold";
    font-size: 24px;
}
.topNavBar .logo .rs{ 
    margin-right: 4px;
    color:#E8676B;
}
.topNavBar .logo .card { 
    color:#c1c3c7;
}
.banner{
    height: 515px;
}